.footer-player {
  width: 100dvw;
  padding: 20px 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 10px;
}

.playList-wrapper {
  box-sizing: border-box;
  border: 1px solid black;
  width: 810px;
  height: calc(100dvh - 200px);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}