@font-face {
  font-family: "Product";
  src: url(./fonts/productsans.ttf);
}

:root {
  width: 100%;
  margin: 0;
  padding: 0;
}
#root {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
body {
  overflow: hidden;
  width: 100%;
  height: 100dvh;
  font-family: "Product", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: rgb(150, 149, 149);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
.regular-block {
  box-sizing: border-box;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
}